# Time Series Acquisition

In [2]:
#imports
import requests
import pandas as pd
import numpy as np
import math

### The end result of this exercise should be a file named acquire.py.

### 1. Using the code from the lesson as a guide and the REST API from https://swapi.dev/ as we did in the lesson, create a dataframe named people that has all of the data for people.

In [3]:
url = 'https://swapi.dev/api/people/'
response = requests.get(url)
print(response)
data = response.json()

<Response [200]>

In [4]:
people_df = pd.DataFrame(data['results'])
people_df.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],"[https://swapi.dev/api/vehicles/14/, https://s...","[https://swapi.dev/api/starships/12/, https://...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[https://swapi.dev/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[https://swapi.dev/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/

In [5]:
people_df.shape

(10, 16)

### 2. Do the same thing, but for planets.

In [6]:
def grab_swapi_api_df(topic):
    '''specific for swapi api, input people, planets, or starships
    
    return: df'''
    # empty list
    total_results = []
    # url
    url = 'https://swapi.dev/api/' + str(topic)
    # grab the search results
    response = requests.get(url)
    data = response.json()
    # Store the first page
    total_results = total_results + data['results']

    while data['next'] is not None:
        response = requests.get(data['next'])
        data = response.json()
        total_results = total_results + data['results']

        df = pd.DataFrame(total_results)

    return df

In [7]:
people_df = grab_swapi_api_df('people')

In [8]:
people_df.shape

(82, 16)

In [9]:
planets_df = grab_swapi_api_df('planets')

In [10]:
planets_df.head()

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Tatooine,23,304,10465,arid,1 standard,desert,1,200000,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/
1,Alderaan,24,364,12500,temperate,1 standard,"grasslands, mountains",40,2000000000,"[https://swapi.dev/api/people/5/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T11:35:48.479000Z,2014-12-20T20:58:18.420000Z,https://swapi.dev/api/planets/2/
2,Yavin IV,24,4818,10200,"temperate, tropical",1 standard,"jungle, rainforests",8,1000,[],[https://swapi.dev/api/films/1/],2014-12-10T11:37:19.144000Z,2014-12-20T20:58:18.421000Z,https://swapi.dev/api/planets/3/
3,Hoth,23,549,7200,frozen,1.1 standard,"tundra, ice caves, mountain ranges",100,unknown,[],[https://swapi.dev/api/films/2/],2014-12-10T11:39:13.934000Z,2014-12-20T20:58:18.423000Z,https://swapi.dev/api/planets/4/
4,Dagobah,23,341,8900,murky,N/A,"swamp, jungles",8,unknown,[],"[https://swapi.dev/api/films/2/, https://swapi...",2014-12-10T11:42:22.590000Z,2014-12-20T20:58:18.425000Z,https://swapi.dev/api/planets/5/

### 3. Extract the data for starships.

In [11]:
starships_df = grab_swapi_api_df('starships')

In [12]:
starships_df.head()

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class,pilots,films,created,edited,url
0,CR90 corvette,CR90 corvette,Corellian Engineering Corporation,3500000,150,950,30-165,600,3000000,1 year,2.0,60,corvette,[],"[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T14:20:33.369000Z,2014-12-20T21:23:49.867000Z,https://swapi.dev/api/starships/2/
1,Star Destroyer,Imperial I-class Star Destroyer,Kuat Drive Yards,150000000,"1,600",975,"47,060",n/a,36000000,2 years,2.0,60,Star Destroyer,[],"[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T15:08:19.848000Z,2014-12-20T21:23:49.870000Z,https://swapi.dev/api/starships/3/
2,Sentinel-class landing craft,Sentinel-class landing craft,"Sienar Fleet Systems, Cyngus Spaceworks",240000,38,1000,5,75,180000,1 month,1.0,70,landing craft,[],[https://swapi.dev/api/films/1/],2014-12-10T15:48:00.586000Z,2014-12-20T21:23:49.873000Z,https://swapi.dev/api/starships/5/
3,Death Star,DS-1 Orbital Battle Station,"Imperial Department of Military Research, Sien...",1000000000000,120000,n/a,"342,953","843,342",1000000000000,3 years,4.0,10,Deep Space Mobile Battlestation,[],[https://swapi.dev/api/films/1/],2014-12-10T16:36:50.509000Z,2014-12-20T21:26:24.783000Z,https://swapi.dev/api/starships/9/
4,Millennium Falcon,YT-1300 light freighter,Corellian Engineering Corporation,100000,34.37,1050,4,6,100000,2 months,0.5,75,Light freighter,"[https://swapi.dev/api/people/13/, https://swa...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T16:59:45.094000Z,2014-12-20T21:23:49.880000Z,https://swapi.dev/api/starships/10/

In [13]:
starships_df.shape

(36, 18)

### 4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [14]:
people_df.to_csv('people.csv')

In [15]:
planets_df.to_csv('planets.csv')

In [16]:
starships_df.to_csv('starships.csv')

### 5. Combine the data from your three separate dataframes into one large dataframe.

In [17]:
people_df.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],"[https://swapi.dev/api/vehicles/14/, https://s...","[https://swapi.dev/api/starships/12/, https://...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[https://swapi.dev/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[https://swapi.dev/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/

In [18]:
planets_df.head()

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Tatooine,23,304,10465,arid,1 standard,desert,1,200000,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/
1,Alderaan,24,364,12500,temperate,1 standard,"grasslands, mountains",40,2000000000,"[https://swapi.dev/api/people/5/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T11:35:48.479000Z,2014-12-20T20:58:18.420000Z,https://swapi.dev/api/planets/2/
2,Yavin IV,24,4818,10200,"temperate, tropical",1 standard,"jungle, rainforests",8,1000,[],[https://swapi.dev/api/films/1/],2014-12-10T11:37:19.144000Z,2014-12-20T20:58:18.421000Z,https://swapi.dev/api/planets/3/
3,Hoth,23,549,7200,frozen,1.1 standard,"tundra, ice caves, mountain ranges",100,unknown,[],[https://swapi.dev/api/films/2/],2014-12-10T11:39:13.934000Z,2014-12-20T20:58:18.423000Z,https://swapi.dev/api/planets/4/
4,Dagobah,23,341,8900,murky,N/A,"swamp, jungles",8,unknown,[],"[https://swapi.dev/api/films/2/, https://swapi...",2014-12-10T11:42:22.590000Z,2014-12-20T20:58:18.425000Z,https://swapi.dev/api/planets/5/

In [19]:
ppl_planet_df = pd.merge(people_df,planets_df, left_on='homeworld', right_on='url', how='left', suffixes=['_people', '_planet'])

In [34]:
ppl_planet_df.head().T

,0,1,2,3,4
name_people,Luke Skywalker,C-3PO,R2-D2,Darth Vader,Leia Organa
height,172,167,96,202,150
mass,77,75,32,136,49
hair_color,blond,n/a,n/a,none,brown
skin_color,fair,gold,"white, blue",white,light
eye_color,blue,yellow,red,yellow,brown
birth_year,19BBY,112BBY,33BBY,41.9BBY,19BBY
gender,male,n/a,n/a,male,female
homeworld,https://swapi.dev/api/planets/1/,https://swapi.dev/api/planets/1/,https://swapi.dev/api/planets/8/,https://swapi.dev/api/planets/1/,https://swapi.dev/api/planets/2/
films_people,"[https://swapi.dev/api/films/1/, https://swapi...","[https://swapi.dev/api/films/1/, https://swapi...","[https://swapi.dev/api/films/1/, https://swapi...","[https://swapi.dev/api/films/1/, https://swapi...","[https://swapi.dev/api/films/1/, https://swapi..."
species,[],[https://swapi.dev/api/species/2/],[https://swapi.dev/api/species/2/],[],[]
vehicles,"[https://swapi.dev/api/vehicles/14/, https://s...",[],[],[],[https://swapi.dev/api/vehicles/30/]
starships,"[https://swapi.dev/api/starships/12/, https://...",[],[],[https://swapi.dev/api/starships/13/],[]
created_people,2014-12-09T13:50:51.644000Z,2014-12-10T15:10:51.357000Z,2014-12-10T15:11:50.376000Z,2014-12-10T15:18:20.704000Z,2014-12-10T15:20:09.791000Z
edited_people,2014-12-20T21:17:56.891000Z,2014-12-20T21:17:50.309000Z,2014-12-20T21:17:50.311000Z,2014-12-20T21:17:50.313000Z,2014-12-20T21:17:50.315000Z
url_people,https://swapi.dev/api/people/1/,https://swapi.dev/api/people/2/,https://swapi.dev/api/people/3/,https://swapi.dev/api/people/4/,https://swapi.dev/api/people/5/
name_planet,Tatooine,Tatooine,Naboo,Tatooine,Alderaan
rotation_period,23,23,26,23,24
orbital_period,304,304,312,304,364
diameter,10465,10465,12120,10465,12500
climate,arid,arid,temperate,arid,temperate
gravity,1 standard,1 standard,1 standard,1 standard,1 standard
terrain,desert,desert,"grassy hills, swamps, forests, mountains",desert,"grasslands, mountains"
surface_water,1,1,12,1,40
population,200000,200000,4500000000,200000,2000000000
residents,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/people/3/, https://swap...","[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/people/5/, https://swap..."
films_planet,"[https://swapi.dev/api/films/1/, https://swapi...","[https://swapi.dev/api/films/1/, https://swapi...","[https://swapi.dev/api/films/3/, https://swapi...","[https://swapi.dev/api/films/1/, https://swapi...","[https://swapi.dev/api/films/1/, https://swapi..."
created_planet,2014-12-09T13:50:49.641000Z,2014-12-09T13:50:49.641000Z,2014-12-10T11:52:31.066000Z,2014-12-09T13:50:49.641000Z,2014-12-10T11:35:48.479000Z
edited_planet,2014-12-20T20:58:18.411000Z,2014-12-20T20:58:18.411000Z,2014-12-20T20:58:18.430000Z,2014-12-20T20:58:18.411000Z,2014-12-20T20:58:18.420000Z
url_planet,https://swapi.dev/api/planets/1/,https://swapi.dev/api/planets/1/,https://swapi.dev/api/planets/8/,https://swapi.dev/api/planets/1/,https://swapi.dev/api/planets/2/

### 6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [23]:
def grab_power_api_df(url):
    '''simple pull from csv format to dataframe'''
    url = url
    df = pd.read_csv(url)

    return df

In [24]:
df = grab_power_api_df('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [25]:
df.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [26]:
df.shape

(4383, 5)

In [27]:
def check_columns(df):
    """
    This function takes a pandas dataframe as input and returns
    a dataframe with information about each column in the dataframe. For
    each column, it returns the column name, the number of
    unique values in the column, the unique values themselves,
    the number of null values in the column, and the data type of the column.
    The resulting dataframe is sorted by the 'Number of Unique Values' column in ascending order.

    Args:
    - df: pandas dataframe

    Returns:
    - pandas dataframe
    """
    data = []
    # Loop through each column in the dataframe
    for column in df.columns:
        # Append the column name, number of unique values, unique values, number of null values, and data type to the data list
        data.append(
            [
                column,
                df[column].nunique(),
                df[column].unique(),
                df[column].isna().sum(),
                df[column].isna().mean(),
                df[column].dtype
            ]
        )
    # Create a pandas dataframe from the data list, with column names 'Column Name', 'Number of Unique Values', 'Unique Values', 'Number of Null Values', and 'dtype'
    # Sort the resulting dataframe by the 'Number of Unique Values' column in ascending order
    return pd.DataFrame(
        data,
        columns=[
            "Column Name",
            "Number of Unique Values",
            "Unique Values",
            "Number of Null Values",
            "Proportion of Null Values",
            "dtype"
        ],
    ).sort_values(by="Number of Unique Values")

In [28]:
check_columns(df)

,Column Name,Number of Unique Values,Unique Values,Number of Null Values,Proportion of Null Values,dtype
3,Solar,2185,"[nan, 6.587, 6.574000000000001, 24.679, 14.681...",2195,0.500799,float64
4,Wind+Solar,2185,"[nan, 234.05200000000005, 213.901, 498.147, 51...",2196,0.501027,float64
2,Wind,2913,"[nan, 48.709, 24.628000000000004, 22.963, 59.3...",1463,0.333790,float64
1,Consumption,4374,"[1069.1840000000002, 1380.5210000000002, 1442....",0,0.000000,float64
0,Date,4383,"[2006-01-01, 2006-01-02, 2006-01-03, 2006-01-0...",0,0.000000,object

### 7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [29]:
import acquire as a

In [30]:
a.grab_swapi_api_df('starships')

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class,pilots,films,created,edited,url
0,CR90 corvette,CR90 corvette,Corellian Engineering Corporation,3500000,150,950,30-165,600,3000000,1 year,2.0,60,corvette,[],"['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-10T14:20:33.369000Z,2014-12-20T21:23:49.867000Z,https://swapi.dev/api/starships/2/
1,Star Destroyer,Imperial I-class Star Destroyer,Kuat Drive Yards,150000000,"1,600",975,"47,060",NaN,36000000,2 years,2.0,60,Star Destroyer,[],"['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-10T15:08:19.848000Z,2014-12-20T21:23:49.870000Z,https://swapi.dev/api/starships/3/
2,Sentinel-class landing craft,Sentinel-class landing craft,"Sienar Fleet Systems, Cyngus Spaceworks",240000,38,1000,5,75,180000,1 month,1.0,70,landing craft,[],['https://swapi.dev/api/films/1/'],2014-12-10T15:48:00.586000Z,2014-12-20T21:23:49.873000Z,https://swapi.dev/api/starships/5/
3,Death Star,DS-1 Orbital Battle Station,"Imperial Department of Military Research, Sien...",1000000000000,120000,NaN,"342,953","843,342",1000000000000,3 years,4.0,10,Deep Space Mobile Battlestation,[],['https://swapi.dev/api/films/1/'],2014-12-10T16:36:50.509000Z,2014-12-20T21:26:24.783000Z,https://swapi.dev/api/starships/9/
4,Millennium Falcon,YT-1300 light freighter,Corellian Engineering Corporation,100000,34.37,1050,4,6,100000,2 months,0.5,75,Light freighter,"['https://swapi.dev/api/people/13/', 'https://...","['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-10T16:59:45.094000Z,2014-12-20T21:23:49.880000Z,https://swapi.dev/api/starships/10/
5,Y-wing,BTL Y-wing,Koensayr Manufacturing,134999,14,1000km,2,0,110,1 week,1.0,80,assault starfighter,[],"['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-12T11:00:39.817000Z,2014-12-20T21:23:49.883000Z,https://swapi.dev/api/starships/11/
6,X-wing,T-65 X-wing,Incom Corporation,149999,12.5,1050,1,0,110,1 week,1.0,100,Starfighter,"['https://swapi.dev/api/people/1/', 'https://s...","['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-12T11:19:05.340000Z,2014-12-20T21:23:49.886000Z,https://swapi.dev/api/starships/12/
7,TIE Advanced x1,Twin Ion Engine Advanced x1,Sienar Fleet Systems,unknown,9.2,1200,1,0,150,5 days,1.0,105,Starfighter,['https://swapi.dev/api/people/4/'],['https://swapi.dev/api/films/1/'],2014-12-12T11:21:32.991000Z,2014-12-20T21:23:49.889000Z,https://swapi.dev/api/starships/13/
8,Executor,Executor-class star dreadnought,"Kuat Drive Yards, Fondor Shipyards",1143350000,19000,NaN,"279,144",38000,250000000,6 years,2.0,40,Star dreadnought,[],"['https://swapi.dev/api/films/2/', 'https://sw...",2014-12-15T12:31:42.547000Z,2014-12-20T21:23:49.893000Z,https://swapi.dev/api/starships/15/
9,Rebel transport,GR-75 medium transport,"Gallofree Yards, Inc.",unknown,90,650,6,90,19000000,6 months,4.0,20,Medium transport,[],"['https://swapi.dev/api/films/2/', 'https://sw...",2014-12-15T12:34:52.264000Z,2014-12-20T21:23:49.895000Z,https://swapi.dev/api/starships/17/
10,Slave 1,Firespray-31-class patrol and attack,Kuat Systems Engineering,unknown,21.5,1000,1,6,70000,1 month,3.0,70,Patrol craft,['https://swapi.dev/api/people/22/'],"['https://swapi.dev/api/films/2/', 'https://sw...",2014-12-15T13:00:56.332000Z,2014-12-20T21:23:49.897000Z,https://swapi.dev/api/starships/21/
11,Imperial shuttle,Lambda-class T-4a shuttle,Sienar Fleet Systems,240000,20,850,6,20,80000,2 months,1.0,50,Armed government transport,"['https://swapi.dev/api/people/1/', 'https://s...","['https://swapi.dev/api/films/2/', 'https://sw...",2014-12-15T13:04:47.235000Z,2014-12-20T21:23:49.900000Z,https://swapi.dev/api/starships/22/
12,EF76 Nebulon-B escort frigate,EF76 Nebulon-B escort frigate,Kuat Drive Yards,8500000,300,800,854,75,6000000,2 years,2.0,40,Escort ship,[],"['https://swapi.dev/api/films/2/', 'https://sw...",2014-12-15T13:06:30.813000Z,2014-12-20T21:23:49.902000Z,https://swapi.dev/api/starships/23/
13,Calamari Cruiser,MC80 Liberty type Star Cruiser,Mon Calamari shipyards,104000000,1200,NaN,5400,1200,unknown,2 years,1.0,60,Star Cruiser,[],['https://swapi.dev/api/films/3/'],2014-12-18T10:54:57.804000Z,2014-12-20T21:23:49.904000Z,https://swapi.dev/api/starships/27/
14,A-wing,RZ-1 A-wing Interceptor,"Alliance Underground Engineering, Incom Corpor...",175000,9.6,1300,1,0,40,1 week,1.0,120,Starfighter,['https://swapi.dev/api/people/29/'],['https://swapi.dev/api/films/3/'],2014-12-18T11:16:34.542000Z,2014-12-20T21:23:49.907000Z,https://swapi.dev/api/starships/28/
15,B-wing,A/SF-01 B-wing starfighter,Slayn & Korpil,220000,16.9,950,1,0,45,1 week,2.0,91,Assault Starfighter,[],['https://swapi.dev/api/films/3/'],2014-12-18T11:18:04.763000Z,2014-12-20T21:23:49.909000Z,https://swapi.dev/api/starships/29/
16,Republic Cruiser,Consular-class cruiser,Corellian Engineering Corporation,unknown,115,900,9,16,unknown,unknown,2.0,unknown,Space cruiser,[],['https://swapi.dev/api/films/4/'],2014-12-19T17:01:31.488000Z,2014-12-20T21:23:49.912000Z,https://swapi.dev/api/starships/31/
17,Droid control ship,Lucrehulk-class Droid Control Ship,"Hoersch-Kessel Drive, Inc.",unknown,3170,NaN,175,139000,4000000000,500 days,2.0,unknown,Droid control ship,[],"['https://swapi.dev/api/films/4/', 'https://sw...",2014-12-19T17:04:06.323000Z,2014-12-20T21:23:49.915000Z,https://swapi.dev/api/starships/32/
18,Naboo fighter,N-1 starfighter,Theed Palace Space Vessel Engineering Corps,200000,11,1100,1,0,65,7 days,1.0,unknown,Starfighter,"['https://swapi.dev/api/people/11/', 'https://...","['https://swapi.dev/api/films/4/', 'https://sw...",2014-12-19T17:39:17.582000Z,2014-12-20T21:23:49.917000Z,https://swapi.dev/api/starships/39/
19,Naboo Royal Starship,J-type 327 Nubian royal starship,"Theed Palace Space Vessel Engineering Corps, N...",unknown,76,920,8,unknown,unknown,unknown,1.8,unknown,yacht,['https://swapi.dev/api/people/39/'],['https://swapi.dev/api/films/4/'],2014-12-19T17:45:03.506000Z,2014-12-20T21:23:49.919000Z,https://swapi.dev/api/starships/40/
20,Scimitar,Star Courier,Republic Sienar Systems,55000000,26.5,1180,1,6,2500000,30 days,1.5,unknown,Space Transport,['https://swapi.dev/api/people/44/'],['https://swapi.dev/api/films/4/'],2014-12-20T09:39:56.116000Z,2014-12-20T21:23:49.922000Z,https://swapi.dev/api/starships/41/
21,J-type diplomatic barge,J-type diplomatic barge,"Theed Palace Space Vessel Engineering Corps, N...",2000000,39,2000,5,10,unknown,1 year,0.7,unknown,Diplomatic barge,[],['https://swapi.dev/api/films/5/'],2014-12-20T11:05:51.237000Z,2014-12-20T21:23:49.925000Z,https://swapi.dev/api/starships/43/
22,AA-9 Coruscant freighter,Botajef AA-9 Freighter-Liner,Botajef Shipyards,unknown,390,unknown,unknown,30000,unknown,unknown,unknown,unknown,freighter,[],['https://swapi.dev/api/films/5/'],2014-12-20T17:24:23.509000Z,2014-12-20T21:23:49.928000Z,https://swapi.dev/api/starships/47/
23,Jedi starfighter,Delta-7 Aethersprite-class interceptor,Kuat Systems Engineering,180000,8,1150,1,0,60,7 days,1.0,unknown,Starfighter,"['https://swapi.dev/api/people/10/', 'https://...","['https://swapi.dev/api/films/5/', 'https://sw...",2014-12-20T17:35:23.906000Z,2014-12-20T21:23:49.930000Z,https://swapi.dev/api/starships/48/
24,H-type Nubian yacht,H-type Nubian yacht,Theed Palace Space Vessel Engineering Corps,unknown,47.9,8000,4,unknown,unknown,unknown,0.9,unknown,yacht,['https://swapi.dev/api/people/35/'],['https://swapi.dev/api/films/5/'],2014-12-20T17:46:46.847000Z,2014-12-20T21:23:49.932000Z,https://swapi.dev/api/starships/49/
25,Republic Assault ship,Acclamator I-class assault ship,Rothana Heavy Engineering,unknown,752,unknown,700,16000,11250000,2 years,0.6,unknown,assault ship,[],['https://swapi.dev/api/films/5/'],2014-12-20T18:08:42.926000Z,2014-12-20T21:23:49.935000Z,https://swapi.dev/api/starships/52/
26,Solar Sailer,Punworcca 116-class interstellar sloop,Huppla Pasa Tisc Shipwrights Collective,35700,15.2,1600,3,11,240,7 days,1.5,unknown,yacht,[],['https://swapi.dev/api/films/5/'],2014-12-20T18:37:56.969000Z,2014-12-20T21:23:49.937000Z,https://swapi.dev/api/starships/58/
27,Trade Federation cruiser,Providence-class carrier/destroyer,"Rendili StarDrive, Free Dac Volunteers Enginee...",125000000,1088,1050,600,48247,50000000,4 years,1.5,unknown,capital ship,"['https://swapi.dev/api/people/10/', 'https://...",['https://swapi.dev/api/films/6/'],2014-12-20T19:40:21.902000Z,2014-12-20T21:23:49.941000Z,https://swapi.dev/api/starships/59/
28,Theta-class T-2c shuttle,Theta-class T-2c shuttle,Cygnus Spaceworks,1000000,18.5,2000,5,16,50000,56 days,1.0,unknown,transport,[],['https://swapi.dev/api/films/6/'],2014-12-20T19:48:40.409000Z,2014-12-20T21:23:49.944000Z,https://swapi.dev/api/starships/61/
29,Republic attack cruiser,Senator-class Star Destroyer,"Kuat Drive Yards, Allanteen Six shipyards",59000000,1137,975,7400,2000,20000000,2 years,1.0,unknown,star destroyer,[],['https://swapi.dev/api/films/6/'],2014-12-20T19:52:56.232000Z,2014-12-20T21:23:49.946000Z,https://swapi.dev/api/starships/63/
30,Naboo star skiff,J-type star skiff,Theed Palace Space Vessel Engineering Corps/Nu...,unknown,29.2,1050,3,3,unknown,unknown,0.5,unknown,yacht,"['https://swapi.dev/api/people/10/', 'https://...",['https://swapi.dev/api/films/6/'],2014-12-20T19:55:15.396000Z,2014-12-20T21:23:49.948000Z,https://swapi.dev/api/starships/64/
31,Jedi Interceptor,Eta-2 Actis-class light interceptor,Kuat Systems Engineering,320000,5.47,1500,1,0,60,2 days,1.0,unknown,starfighter,"['https://swapi.dev/api/people/10/', 'https://...",['https://swapi.dev/api/films/6/'],2014-12-20T19:56:57.468000Z,2014-12-20T21:23:49.951000Z,https://swapi.dev/api/starships/65/
32,arc-170,Aggressive Reconnaissance-170 starfighte,"Incom Corporation, Subpro Corporation",155000,14.5,1000,3,0,110,5 days,1.0,100,starfighter,[],['https://swapi.dev/api/films/6/'],2014-12-20T20:03:48.603000Z,2014-12-20T21:23:49.953000Z,https://swapi.dev/api/starships/66/
33,Banking clan frigte,Munificent-class star frigate,"Hoersch-Kessel Drive, Inc, Gwori Revolutionary...",57000000,825,unknown,200,unknown,40000000,2 years,1.0,unknown,cruiser,[],['https://swapi.dev/api/films/6/'],2014-12-20T20:07:11.538000Z,2014-12-20T21:23:49.956000Z,https://swapi.dev/api/starships/68/
34,Belbullab-22 starfighter,Belbullab-22 starfighter,Feethan Ottraw Scalable Assemblies,168000,6.71,1100,1,0,140,7 days,6,unknown,starfighter,"['https://swapi.dev/api/people/10/', 'https://...",['https://swapi.dev/api/films/6/'],2014-12-20T20:38:05.031000Z,2014-12-20T21:23:49.959000Z,https://swapi.dev/api/starships/74/
35,V-wing,Alpha-3 Nimbus-class V-wing starfighter,Kuat Systems Engineering,102500,7.9,1050,1,0,60,15 hours,1.0,unknown,starfighter,[],['https://swapi.dev/api/films/6/'],2014-12-20T20:43:04.349000Z,2014-12-20T21:23:49.961000Z,https://swapi.dev/api/starships/75/

In [31]:
df = a.grab_power_api_df('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv', 'opsd_germany_daily')

In [32]:
check_columns(df)

,Column Name,Number of Unique Values,Unique Values,Number of Null Values,Proportion of Null Values,dtype
3,Solar,2185,"[nan, 6.587, 6.574000000000001, 24.679, 14.681...",2195,0.500799,float64
4,Wind+Solar,2185,"[nan, 234.05200000000005, 213.901, 498.147, 51...",2196,0.501027,float64
2,Wind,2913,"[nan, 48.709, 24.628000000000004, 22.963, 59.3...",1463,0.333790,float64
1,Consumption,4374,"[1069.1840000000002, 1380.5210000000002, 1442....",0,0.000000,float64
0,Date,4383,"[2006-01-01, 2006-01-02, 2006-01-03, 2006-01-0...",0,0.000000,object